$orange-color:#E47631;
$soft-orange-color: rgba(228, 118, 49, 0.2);
$hard-orange-color : #ff843b;
$blue-color:#2E3192;
$soft-blue-color: rgba(46, 49, 146, 0.2);
$hard-blue-color : #5660ff;
$gray-color:#979797;
$white-color:#fff;
$soft-white-color: rgba(255, 255, 255, 0.2);
$transparent: rgba(255, 255, 255, 0);